* {
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color:rgb(205, 255, 253);
    color: rgb(58, 58, 58);

}

input, textarea {
    border-radius: 10px;
}

body div:first-child {
    background-color: rgb(255, 247, 249);
    padding: 1rem;
    border-radius: 20px;

    line-height: 1.7rem;
}


#contenido {

}

#contenido #agregar-cita {
    display: flex;
}

.grupo-formulario {
    display: flex;
    justify-content: space-between;
}

.grupo-formulario div {
    margin-left: 20px;
}

.grupo-formulario button {
    background-color: rgb(205, 255, 253);
    padding: 0.40em 1.5em;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 90px;
    color:rgb(58, 58, 58);
}

.grupo-formulario button:hover {
    background-color: rgb(135, 252, 248);
}

/*script js*/
.mensaje-alerta {
    background-color: rgb(233, 35, 75);
    text-align: center;
    color: rgb(255, 255, 255);

    border-radius: 20px;
}

.mensaje-maravilloso {
    background-color: lightgreen;
    text-align: center;
    color: rgb(51, 51, 51);

    border-radius: 20px;
}





